
<section class="orders light-section">
	<!-- <a href="/admin/home">back</a> -->
	<div class="container mx-auto mt-8 overflow-x-scroll">
		<!-- <a href="/admin/downloadReport">generate pdf</a> -->
		<h1 class="font-bold text-lg mb-4">All orders</h1>
		<table class="w-full table-auto bg-white w-[1800px]">
			<thead >
				<tr>
					<th class="border px-4 py-2 text-center">Orders</th>
					<th class="border px-4 py-2 text-center">Quantity</th>
					<th class="border px-4 py-2 text-center">price</th>
					<th class="border px-4 py-2 text-center">Customers</th>
					<th class="border px-4 py-2 text-center">delivery address</th>
					<th class="border px-4 py-2 text-center">Time</th>
					<th class="border px-4 py-2 text-center">status</th>
				</tr>
			</thead>
			<tbody id="orderTabelBody" class="text-center">
				
			</tbody>
		</table>
	</div>
</section>
