<section class="login flex justify-center py-16">
<div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm w-1/2 h-fit">
  <form action="/login" method="POST">
    <% if (messages.error) { %>
      <span class="text-red-500 text-sm"><%= messages.error%></span>
    <% } %>
    <div class="form-group mb-6">
      <label for="exampleInputEmail2" class="form-label inline-block mb-2 text-gray-700">Email address</label>
      <input name="email" type="email" class="form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInputEmail2"
        aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group mb-6">
      <label for="exampleInputPassword2" class="form-label inline-block mb-2 text-gray-700">Password</label>
      <input name="password" type="password" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInputPassword2"
        placeholder="Password">
    </div>
    <button type="submit" class="
      w-full
      px-6
      py-2.5
      bg-[#FE5F1E]
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      btn-primary
      ">Sign in</button>
    <p class="text-gray-800 mt-8 text-center">Not a member? <a href="/register"
        class="transition duration-200 ease-in-out">Register</a>
    </p>
  </form>
</div>
</section>